<h1 class="mt-5">Selectores anidados</h1>
<hr>

<form [formGroup]="miFormulario">
 <div class="row mt-5">
        <div class="col">
            <label class="form-label">Continente:</label>
            <select class="form-control"
                    formControlName="region">
                <option value="">-- Seleccione Continente --</option>
                <option *ngFor="let region of regiones">
                        {{region}}
                </option>
            </select>
        </div>
    </div>
 
    <div class="row mt-5">
        <div class="col">
            <label class="form-label">Pais:</label>
            <select class="form-control"
                    formControlName="pais">
                <option value="">-- Seleccione el Pais --</option>
                <option *ngFor="let pais of paises" [value]="pais.alpha3Code">
                        {{pais.name}}
                </option>
            </select>
        </div>
    </div>

     <div class="row mt-5">
        <div class="col">
            <label class="form-label">Fronteras:</label>
            <select class="form-control"
                    formControlName="frontera">
                <option value="">-- Seleccione el Pais fronterizo --</option>
               <option *ngFor="let frontera of fronteras" [value]="frontera">
                        {{frontera}}
                </option> 
            </select>
        </div>
    </div>
</form>

<h3>Formulario</h3>
<pre>Valid: {{miFormulario.valid | json}} </pre>
<pre>{{miFormulario.value | json}} </pre>